<h1>Eat your burger!</h1>

<div id="burger-image">
    <img src="#">
</div>

<div id="ready-burgers">
    <h3>Ready to eat burgers!</h3>
    {{!-- Handlebars syntax for current list of burgers here --}}
    {{!-- Add a button to 'devour' the burger, is this different from a submit function?  --}}
</div>

<div id="eaten-burgers">
    <h3>Burgers that you have eaten.</h3>
    {{!-- List of burgers that have already been devoured --}}
</div>


<form>
    <textarea></textarea>
    <button type="submit">Cook the burger!</button>
</form>

<p>Enter a burger that you want to eat and click submit.</p>